@media screen and (min-width:992px) {
    .container {
        max-width: 1100px;
        margin: 0 auto;
    }

    /*Video + lista*/
    .tutorial-recipe {
        display: flex;
        flex-direction: row;

    }

    .video-recipe {
        width: 70%;
        display: inline-block;
    }

    .recipe-info {
        width: 30%;
    }

    .box ul {
        flex-direction: column;
    }

    .box li {
        margin: 5px 0;
    }

    .tutorial-recipe {
        padding-bottom: 0;
    }

    /*nomi dei loghi*/
    .brands-none {
        display: inline-block;
    }

    /*footer*/
    footer {
        text-align: start;
        width: 100%;
    }

    .footer-info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 100%;

    }

    footer li {
        margin-right: 20px;

    }

    .info-booleano {
        margin-left: 20px;
    }

}